<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../../css/login.css">

    <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>


    <div class="container">

        <div class="content">
            <div class="logo">
                <img class="logo-img" src="../../images/1_2.png">
            </div>

            <div class="input">
                <div class="input-item">
                    <label><img src="../../images/1_3.png"></label> <input placeholder="请输入账号">
                </div>
                <div class="input-item">
                    <label><img src="../../images/1_4.png"></label> <input placeholder="请输入密码">
                </div>
            </div>

            <div class="login">
                立即登录
            </div>
        </div>
    </div>

</body>

</html>