<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../../css/record.css">

    <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>

    <div class="container">

        <!-- 头部搜索框 -->
        <div class="header">

            <div class="header-inp">
                <input placeholder-class="placeholderStyle" placeholder="输入车牌号码/司机名称搜索"></input>
            </div>

            <div class="hader-pick">
                <image src="../../images/1_8.png"></image>
            </div>
        </div>


        <!-- 内容 -->
        <div class="content">
            <div class="content-title">
                2019-10-22
            </div>

            <div class="content-con">
                <div class="content-con-item">
                    <div class="item-con">
                        <div class="item-con-left">
                            <text>车牌号码：</text>
                            <span>粤B466S1</span>
                        </div>

                        <div class="item-con-right">
                            <text>司机姓名：</text>
                            <span>李亚伟</span>
                        </div>
                    </div>
                    <div class="item-con">
                        <text>联系电话：</text>
                        <span>18977889900</span>
                    </div>


                    <div class="item-con">
                        <text>排队时间：</text>
                        <span>2019-09-09 11:30:20</span>
                    </div>
                    <div class="item-con">
                        <text>进场时间：</text>
                        <span>2019-09-09 11:30:20</span>
                    </div>
                    <div class="item-con">
                        <div class="item-con-left">
                            <text>出场时间：</text>
                            <span>2019-09-09 11:30:20</span>
                        </div>

                        <div class="item-con-right">
                            <text>等待时长：</text>
                            <span>60分钟</span>
                        </div>
                    </div>
                </div>

                <div class="content-con-item">
                    <div class="item-con">
                        <div class="item-con-left">
                            <text>车牌号码：</text>
                            <span>粤B466S1</span>
                        </div>

                        <div class="item-con-right">
                            <text>司机姓名：</text>
                            <span>李亚伟</span>
                        </div>
                    </div>
                    <div class="item-con">
                        <text>联系电话：</text>
                        <span>18977889900</span>
                    </div>


                    <div class="item-con">
                        <text>排队时间：</text>
                        <span>2019-09-09 11:30:20</span>
                    </div>
                    <div class="item-con">
                        <text>进场时间：</text>
                        <span>2019-09-09 11:30:20</span>
                    </div>
                    <div class="item-con">
                        <div class="item-con-left">
                            <text>出场时间：</text>
                            <span>2019-09-09 11:30:20</span>
                        </div>

                        <div class="item-con-right">
                            <text>等待时长：</text>
                            <span>60分钟</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>