<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../../css/situation.css">

    <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="header">
            <div class="header-item">
                等待进场
                <div class="header-item-span"></div>
            </div>
            <div class="header-item">
                等待出场
                <div class="header-item-span"></div>
            </div>
            <div class="header-item">
                排队等待
                <div class="header-item-span"></div>
            </div>

        </div>

        <div class="content">
            <div class="content-item" style=" ">


                <!-- 排队序号 -->
                <div class="content-item-title">

                    <div class="content-item-title-left">
                        排队序号:
                    </div>

                    <div class="content-item-title-right">
                        2019-09-07 11:30:00
                    </div>


                </div>


                <!-- 等待进场排队序号 -->

                <div class="content-item-con" >

                    <div class="content-item-con-left">

                        A01
                    </div>

                    <div class="content-item-con-right">

                        <div class="content-item-con-right-top" >
                            车辆放行
                        </div>

                        <div class="content-item-con-right-bottom">
                            仓库已放行,待进场
                        </div>
                    </div>
                </div>

                <!-- 排队等候 -->
                <!-- <div class="content-item-conb" >
                    A01
                </div> -->

                <!-- 底部车牌信息 -->
                <div class="content-item-bottom">

                    <div class="content-item-bottom-left">
                        <div>车牌号码:
                            <span>粤B466S1</span>
                        </div>
                        <div>司机姓名:
                            <span>李亚伟</span>
                        </div>
                    </div>

                    <div class="content-item-bottom-right">
                        <div>装车地点:
                            <span>1号库房</span>
                        </div>
                        <div>联系电话:
                            <span>18961889066</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</body>

</html>