<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../../css/historyEnterDetail.css">

    <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>


    <div class="container">
        <div class="relation-form-wrap">
      
          <div class="relation-form-top">
            <div class="form-item">
              <div class="form-title">排队顺序</div>
              <div class="form-content">B09</div>
            </div>
            <div class="form-item">
              <div class="form-title">开始时间</div>
              <div class="form-content">2019-09-09  09:20:56</div>
            </div>
            <div class="form-item">
              <div class="form-title">排队人名</div>
              <div class="form-content">张迎春</div>
            </div>
            <div class="form-item">
              <div class="form-title">车牌号码</div>
              <div class="form-content">粤B888HB</div>
            </div>
            <div class="form-item">
              <div class="form-title">联系电话</div>
              <div class="form-content">18756984569</div>
            </div>
            <div class="form-item">
              <div class="form-title">身份证号</div>
              <div class="form-content">411322197809120099</div>
            </div>
          </div>
      
          <div class="relation-title">关联运单</div>
          <div class="relation-form">
            <div class="form-item">
              <div class="form-title">出库单号</div>
              <div class="form-content">OD201907230001</div>
            </div>
            <div class="form-item">
              <div class="form-title">货主名称</div>
              <div class="form-content">华糖实业股份有限公司</div>
            </div>
            <div class="form-item">
              <div class="form-title">联系人</div>
              <div class="form-content">李文斌</div>
            </div>
            <div class="form-item">
              <div class="form-title">联系电话</div>
              <div class="form-content">18918845699</div>
            </div>
            <div class="form-item">
              <div class="form-title">出库数量</div>
              <div class="form-content">600</div>
            </div>
            <div class="form-item">
              <div class="form-title">出库重量</div>
              <div class="form-content">30.00吨</div>
            </div>
            <div class="form-item">
              <div class="form-title">运输费用</div>
              <div class="form-content">500.00吨</div>
            </div>
            <div class="form-item">
              <div class="form-title">调拨集团</div>
              <div class="form-content">诺金供应链集团</div>
            </div>
            <div class="form-item">
              <div class="form-title">调拨仓库</div>
              <div class="form-content">诺金仓库</div>
            </div>
            <div class="form-item">
              <div class="form-title">承运单位</div>
              <div class="form-content">诺金供应链股份有限公司</div>
            </div>
            <div class="form-item">
              <div class="form-title">抵运站点</div>
              <div class="form-content">安阳</div>
            </div>
          </div>
        </div>
      
        <div class="confirm-wrap">
          <button class="confirm-btn">确认装车</button>
          <button class="confirm-btn">确认送达</button>
        </div>
      </div>

</body>

</html>