<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../../css/historyOutDetail.css">

    <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>


  <div class="container">
    <div class="relation-form-wrap">
      <div class="relation-title">关联运单</div>
      <div class="relation-form">
        <div class="form-item">
          <div class="form-title">出库单号</div>
          <div class="form-content">OD201907230001</div>
        </div>
        <div class="form-item">
          <div class="form-title">货主名称</div>
          <div class="form-content">华糖实业股份有限公司</div>
        </div>
        <div class="form-item">
          <div class="form-title">联系人</div>
          <div class="form-content">李文斌</div>
        </div>
        <div class="form-item">
          <div class="form-title">联系电话</div>
          <div class="form-content">18918845699</div>
        </div>
        <div class="form-item">
          <div class="form-title">出库数量</div>
          <div class="form-content">600</div>
        </div>
        <div class="form-item">
          <div class="form-title">出库重量</div>
          <div class="form-content">30.00吨</div>
        </div>
        <div class="form-item">
          <div class="form-title">运输费用</div>
          <div class="form-content">500.00吨</div>
        </div>
        <div class="form-item">
          <div class="form-title">调拨集团</div>
          <div class="form-content">诺金供应链股份有限公司</div>
        </div>
        <div class="form-item">
          <div class="form-title">抵运站点</div>
          <div class="form-content">安阳</div>
        </div>
        <div class="form-item">
          <div class="form-title">发运方式</div>
          <div class="form-content">公路</div>
        </div>
        <div class="form-item">
          <div class="form-title">运往地址</div>
          <div class="form-content">广东省江门市新会区双水镇桥123号</div>
        </div>
        <div class="form-item">
          <div class="form-title">出库明细</div>
          <div class="form-content"><div class="more">点击查看</div> <div class="more-icon">></div></div>
        </div>

      </div>
    </div>
    
    <div class="confirm-wrap">
        <button class="confirm-btn">确认装车</button>
        <button class="confirm-btn">确认送达</button>
    </div>
</div>

</body>

</html>