<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=750, user-scalable=no">
  <link rel="stylesheet" href="../../css/queueRecord.css">

  <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>


  <div class="container">
    <div class='topTabSwiper'>
      <div class='tab  ' >出库记录</div>
      <div class='tab tabBorer '>入库记录</div>
    </div>

      <div>
        <div class="queue-list">
  
          <div class="queue-row">
            <div class="queue-row-wrap">
              排队序号：
              <div class="queue-row-content">A03</div>
            </div>
            <div class="queue-row-wrap">
              <div class="queue-row-content">2019-09-09 11:30:12</div>
            </div>
          </div>
  
          <div class="queue-row">
            <div class="queue-row-wrap">
               排队类型：
              <div class="queue-row-content">出库排队</div>
            </div>
            <div class="queue-row-wrap">
              关联单据数量：
              <div class="queue-row-content">1张</div>
            </div>
          </div>
  
        </div>
      </div>
  
      <div>
        <div class="queue-list" >
  
          <div class="queue-row">
            <div class="queue-row-wrap">
              排队序号：
              <div class="queue-row-content">A03</div>
            </div>
            <div class="queue-row-wrap">
              <div class="queue-row-content">2019-09-09 11:30:12</div>
            </div>
          </div>
  
          <div class="queue-row">
            <div class="queue-row-wrap">
               排队类型：
              <div class="queue-row-content">出库排队</div>
            </div>
           
          </div>
  
        </div>
      </div>

  </div>

</body>

</html>