<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=750, user-scalable=no">
  <link rel="stylesheet" href="../../css/warehousing.css">

  <script src="../../js/lib/jquery-2.2.2.min.js"></script>
</head>

<body>


  <div class="container" >
    <div class="warehousing-wrap">
      <div class="warehousing-title">出库排队单</div>
      <div class="warehousing-content">
        <div class="current-rank list-title">当前排队序号：</div>
        <div class="current-no">B04</div>
        <div class="current-rank-park">
          <div class="list-title">当前排队园区：</div>A园区</div>
        <div class="join-time">
          <div class="list-title">参与排队时间：</div>2019-09-09 10:30:05</div>
        <div class="estim-time">
          <div class="list-title">预计等候时长：</div>30分钟</div>
        <div class="current-car">
          <div class="list-title">当前等候车辆：</div>3辆</div>
      </div>
  
      <div class="unload">
        <div class="list-title">前往卸车地点：</div><div class="storehouse">1号库房</div></div>
    </div>
    <div class="history-record">历史排队记录</div>
    <!-- <div class="history-record relation-list">关联单据详情</div> -->
  
    <!-- <div class="cover" wx:if="{{isShow}}">
      <div class="tip-wrap">
        <div class="pass-tip">放行提示</div>
        <div class="contact">仓管已放行，\n请及时联系门卫放行</div>
        <div class="know" bindtap="closeCover">我知道了</div>
      </div>
      
    </div> -->
  </div>

</body>

</html>